<div class="media" {{action "click"}}>
	<div class="media-body">
		<div class="media-heading listItemLabelText">{{album.title}}</div>
		<div>{{album.artist}}</div>
	</div>
	<div class="media-right media-middle">
		{{delete-button delete="removeAlbum"}}
	</div>
</div>
