{{#link-to "music.album" tagNames="li" classNames="list-group-item"}}
	<div class="media">
		<div class="media-body">
			<div class="media-heading listItemLabelText">{{album.title}}</div>
			<div>{{album.artist}}</div>
		</div>
		<div class="media-right media-middle">
			{{delete-button delete="removeAlbum"}}
		</div>
	</div>
{{/link-to}}
