@import 'music.css';
body {
    padding-top: 80px;
    padding-bottom: 20px;
}

.listItemLabelText {
    font-size: 1.3em;
}

[data-ember-action], .cursorPointer {
    cursor: pointer;
}

.navbar-header {
    float: left;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.back-arrow {
    padding: 0 0 0 10px;
    margin: 9px;
    font-size: 1.4em;
    text-decoration: none !important;
}
