body {
  padding-top: 80px;
  padding-bottom: 20px;
}
.listItemLabelText {
  font-size: 1.3em;
}
[data-ember-action], .cursorPointer {
  cursor: pointer;
}
.navbar-header {
  float: left;
}
.navbar-right {
  float: right !important;
  margin-right: -15px;
}
