.addMusicTwistieIcon.rotate90 {
    -webkit-animation: rotate90 .1s linear;
    -moz-animation: rotate90 .1s linear;
    animation: rotate90 .1s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-moz-keyframes rotate90 {
    100% {
        -moz-transform: rotate(90deg);
    }
}

@-webkit-keyframes rotate90 {
    100% {
        -webkit-transform: rotate(90deg);
    }
}

@keyframes rotate90 {
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
