<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    {{#link-to 'index' class="navbar-brand" }}Mustache You{{/link-to}}
  </div>
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        {{#link-to 'music'}}Music{{/link-to}}
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}} {{outlet 'modal'}}
</div>
