<div class="panel panel-default">
	<div class="panel-heading">Add Music</div>
	<div class="panel-body">
		{{add-music-form addSong="addSong"}}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Music</div>
	{{song-list songs=model removeSong="removeSong"}}
</div>
